<header>
  <img src="/images/staxx-green.svg" id="staxx-logo" alt="Staxx Logo">
</header>

<div class="signup">
  <div class="img-signin">
    <img src="/images/staxx-white.svg" id="staxx-logo-w" alt="Staxx Logo">
    <h2>// Sign In</h2>
  </div>
  <form>
    <div class="first-last">
      <div>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" placeholder="First Name">
      </div>
      <div>
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" placeholder="Email">
    </div>
    <div class="avatars">
      <label id="avatarLabel">Select your Avatar</label>
      <div class="avatarBox">
        <img src="../public/images/av1.jpg" class="av-img" alt="" id="av1">
        <img src="../public/images/av2.jpg" class="av-img" alt="" id="av2">
        <img src="../public/images/av3.jpg" class="av-img" alt="" id="av3">
        <img src="../public/images/av4.jpg" class="av-img" alt="" id="av4">
        <img src="../public/images/av5.jpg" class="av-img" alt="" id="av5">
        <img src="../public/images/av6.jpg" class="av-img" alt="" id="av6">
      </div>
    </div>
    <div class="form-group2">
      <label for="userpassword" id="passwordlabel">Password</label>
      <input type="password" id="userpassword" placeholder="Password">
    </div>
    <div class="form-group3">
      <label for="confirmpassword">Confirm Password</label>
      <input type="password" id="confirmpassword" placeholder="Enter Password Again">
    </div>
    <button type="submit" class="submit-btn" data_state="sign-in">Sign In</button>
  </form>
  <span id="create-popup">Create an account</span>
</div>

<footer>
  <a href="#">Omega Giga X-Force Extreme</a>
  <span>&copy; 2019</span>
</footer>


<script type="text/javascript" src="/js/index.js"></script>