html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url("/images/bg-img.jpg") no-repeat center #0d0d0d;
  background-size: cover;
  margin: 0;
}

h2 {
  margin: 0;
  transition-duration: 150ms;
}

header {
  background: #fff;
  height: 70px;
  width: 100%;
  z-index: 11;
  position: absolute;
}

footer {
  margin: auto 0 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer span,
footer a {
  margin: 0;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
}

footer a:hover {
  font-weight: bold;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

#profileheader {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-right: 40px;
}

#userIdBox {
  line-height: 0.82rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35px;
  align-items: flex-end;
}

#userIdBox span {
  font-size: 0.65em;
  color: #00b064;
}

#userIdBox h4 {
  margin: 0;
  color: rgb(63, 63, 63);
}

#headerImg {
  width: 37px;
  border-radius: 5px;
  margin: 0 0 0 10px;
  border: 1px solid #fff;
  padding: 1px;
}

#staxx-logo-d {
  width: 100px;
}

#staxx-logo {
  width: 220px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.signup {
  height: 0px;
  overflow: hidden;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.586);
  border-radius: 5px;
  width: 600px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#staxx-logo-w {
  width: 110px;
  display: block;
  margin: 0 15px 15px 0;
}

input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  margin: 5px 0;
  font-size: 0.9em;
}

label {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 0.849);
}

small {
  font-size: 0.75em;
  text-align: right;
  color: rgba(255, 255, 255, 0.849);
  width: 100%;
  display: block;
  font-weight: 300;
}

.img-signin {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.form-group2 {
  margin-top: 15px;
}

.first-last,
.form-group3 {
  height: 0px;
  overflow: hidden;
}

.first-last {
  display: flex;
  justify-content: space-between;
}

.first-last > :first-child {
  padding-right: 10px;
}

.first-last > :last-child {
  padding-left: 10px;
}

.first-last div {
  width: 50%;
}

.avatars {
  height: 0px;
  overflow: hidden;
}

.avatarBox {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.avatars img {
  min-width: 60px;
  width: 60px;
  height: 60px;
  opacity: 0.8;
  transition-duration: 150ms;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
}

.selected {
  opacity: 1 !important;
  border: 2px solid rgba(255, 255, 255, 0.623) !important;
}

.avatars img:hover {
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0.623);
}

.submit-btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  color: #fff;
  background: #00b064;
  border: none;
  font-weight: 300;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
}

.submit-btn:hover {
  background: #00bd6b;
}

#create-popup {
  font-size: 0.85em;
  font-weight: 300;
  margin: 20px auto 0;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
}

#create-popup:hover {
  color: #00bd6b;
}

/*      Dashboard     */

#dash {
  width: 800px;
  max-width: 95%;
  margin: 140px auto 20px;
  display: flex;
}

#profile-dash {
  background: rgba(20, 20, 20, 0.811);
  padding: 40px 20px 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  border-radius: 13px;
  align-self: flex-start;
  margin: 0 0 10px 0;
}

#pageImg {
  width: 80px;
  position: absolute;
  top: -33%;
  left: 50%;
  transform: translate(-50%, 18%);
  border-radius: 50%;
  border: 2px solid rgb(20, 20, 20);
}

#moneyMeter {
  padding: 2px;
  background: rgb(63, 63, 63);
  width: 100%;
  margin-top: 8px;
  border-radius: 10px;
}

#moneyMeter > :first-child {
  height: 10px;
  background: linear-gradient(#00b064, #01c46f);
  border-radius: 10px;
}

#profile-dash h4 {
  display: inline-block;
  color: #fff;
  margin: 3px 0;
  font-size: 1.3em;
}

#profile-dash p {
  display: inline-block;
  color: rgba(224, 224, 224, 0.692);
  margin: 10px 0 0;
  font-size: 0.75em;
}

#profile-dash h3 {
  display: inline-block;
  color: #01c46f;
  margin: 7px 0 0;
  border-top: 1px solid rgba(97, 97, 97, 0.747);
  font-size: 0.9em;
  font-weight: 300;
  width: 100%;
  text-align: center;
  padding: 10px 0 0;
}

#profile-dash span {
  font-size: 0.6em;
  color: #00b064;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.06em;
}

.chart {
  width: 100%;
  margin: 0 auto 0;
  padding: 20px 20px 35px;
  background: rgba(20, 20, 20, 0.811);
  flex: 1;
  border-radius: 13px;
}

#alerts {
  background: rgba(20, 20, 20, 0.811);
  position: relative;
  border-radius: 13px;
  color: #eee;
  width: 100%;
  align-self: flex-start;
  padding: 10px;
}

#dash > :first-child {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

#alerts ul {
  list-style: none;
  font-weight: 300;
  font-size: 0.9em;
  text-align: center;
  padding-left: 0;
  line-height: 1.3em;
  color: #01c46f;
}

#alertNum {
  position: absolute;
  background: rgb(231, 61, 61);
  color: rgb(255, 255, 255);
  height: 27px;
  width: 27px;
  font-size: 0.8em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
}

#alertNum:empty {
  display: none;
}

h5 {
  display: inline-block;
  color: rgba(224, 224, 224, 0.692);
  margin: 0 0 8px;
  font-size: 0.65em;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.alertTime {
  font-size: 0.6em;
  color: #fff;
}

.chartCont {
  flex: 1;
}

#currency-field {
  padding: 20px;
  font-size: 3.5em;
  border-radius: 13px;
  color: #01c46f;
  background: #11111100;
  /* border: 1px solid #eee; */
  margin: 0;
  /* text-align: center; */
  font-family: "Roboto Condensed", sans-serif;
}

.paymentInput {
  width: 100%;
  margin: 10px 0;

  background: rgba(20, 20, 20, 0.811);
  flex: 1;
  border-radius: 13px;
}

.paymentInput form {
  display: flex;
}

#paymentLabel {
  text-transform: none;
  font-size: 1.1em;
  margin-bottom: 15px;
  padding-left: 10px;
  letter-spacing: 0em;
  font-weight: 300;
  color: #01c46f;
}

#currency-field::placeholder {
  color: rgba(214, 214, 214, 0.841);
}

#paymentSubmit {
  color: #fff;
  background: #00b064;
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  font-weight: 300;
  border-radius: 13px;
  width: 120px;
  font-size: 1.4em;
  text-transform: uppercase;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
  margin: 20px;
}

#paymentSubmit:hover {
  color: #fff;
  background: #00c26e;
}

#category {
  margin: 10px 0 0;
  position: relative;
}

#category select {
  height: 50px;
  width: 100%;
  font-size: 1.4em;
  border: none;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
  background: rgba(20, 20, 20, 0.811);
  color: rgb(238, 238, 238);
}

#transactionsPanel {
  position: absolute;
  top: 70px;
  left: -230px;
  padding: 40px;
  /* width: 200px; */
  background: rgba(17, 17, 17, 0.811);
  height: 100vh;
  margin: 0 auto;
  transition-duration: 450ms;
}

.transactionsPanel-clicked {
  left: 0px !important;
}

#transactionsPanel ul {
  list-style: none;
  padding-left: 0;
  width: 150px;
  /* text-align: right; */
}

#transactionsPanel li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.227);
}

#transactionsPanel span {
  color: #00b064;
  font-size: 1.2em;
}

#transactionsPanel p {
  margin: 3px;
  font-size: 0.7em;
  color: #ccc;
}

.titleAndBtn {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  width: 100%;
  flex: 0;
  height: 25px;
}

.allTransactions {
  color: rgba(255, 255, 255, 0.744);
  border: 1px solid rgba(255, 255, 255, 0.644);
  font-size: 0.7em;
  border-radius: 6px;
  background: rgba(7, 7, 7, 0.342);
  display: inline;
  transition-duration: 150ms;
}

.allTransactions:hover {
  color: rgba(5, 5, 5, 0.744);
  border: 1px solid #00c26e;
  background: #00c26e;
}

#header-menu {
  width: 200px;
  text-align: center;
  position: absolute;
  right: 15px;
  top: 70px;
  transform: translateY(-100%);
  transition-duration: 250ms;
}

.header-menu-clicked {
  transform: translateY(0) !important;
}

#header-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#header-menu ul > :last-child {
  border-radius: 0px 0px 13px 13px;
}

#header-menu li {
  padding: 13px;
  color: rgb(184, 184, 184);
  font-size: 0.9em;
  transition-duration: 150ms;
  cursor: pointer;
  background: rgba(53, 53, 53, 0.342);
}

#header-menu li:hover {
  background: #00c26ee3;
  color: #0d0d0d;
}

/* ========= Hamburger Menu CSS ========= */

#nav-icon3 {
  width: 30px;
  height: 25px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  right: 2.4%;
  top: 26px;
}

#nav-icon3 span {
  z-index: 150;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #00b064;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 1px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 15px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* ========= End Hamburger Menu CSS ======== */
